.main__container {
  padding: 1% 15% 2% 15%;
}

.header {
  border: 2px solid rgb(29, 161, 242);
  width: 20%;
  text-align: center;
  margin-bottom: 1%;
  font-size: 20px;
  margin-left: 40%;
}

.header > h1 > .hot {
  color: #ff0000;
}

.header > h1 > .cold {
  color: #00ffff;
}

.instruction {
  margin-bottom: 1%;
  text-align: center;
  font-size: 18px;
}

.fields {
  margin-top: 20%;
  padding: 0px 5% 0px 10%;
  float: left;
}

.input {
  width: 100%;
  margin-bottom: 1% solid;
}

.input > .text-input {
  border: 0px;
  border-bottom: 1px solid rgb(29, 161, 242);
  width: 100%;
  outline: none;
}

.btn {
  display: flex;
  width: 350px;
  margin: 2% 0px 5% 0px;
}
.submit,
#newGame {
  border: 1px solid rgb(29, 161, 242);
  width: 100%;
  outline: none;
  border-radius: 45px;
  margin-left: 2%;
}

.submit,
#newGame {
  height: 10%;
  margin-top: 5.5%;
}
.header,
.submit,
#newGame {
  padding: 2% 0px 2% 0px;
}

.hide,
.mainText {
  display: none;
}

.show {
  display: block;
}
/* thermometer */

#thermometer {
  float: left;
  position: relative;
  width: 100px;
  height: 517px;

  margin-left: 20%;
}

#th-case .th-top {
  height: 23px;
  width: 46px;
  border: 2px solid rgb(29, 161, 242);
  border-bottom: none;
  margin: auto;
  border-radius: 25px 25px 0 0;
  background: white;
}

#th-case .th-middle {
  position: relative;
  z-index: 1;
  height: 400px;
  width: 46px;
  border: 2px solid rgb(29, 161, 242);
  border-top: none;
  border-bottom: none;
  margin: auto;
  background: white;
}

#th-case .th-bottom {
  height: 96px;
  width: 96px;
  border: 2px solid rgb(29, 161, 242);
  border-radius: 50px;
  margin: -8px auto;
  background: white;
}

#th-mercury {
  position: absolute;
  bottom: 0;
}

#th-mercury .th-top {
  position: absolute;
  z-index: 1;
  bottom: 85px;
  left: 35px;
  height: 0px;
  width: 30px;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border-radius: 15px 15px 0 0;
  /* transition: 5s; */
}

#th-mercury .th-bottom {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 80px;
  width: 80px;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border-radius: 40px;
}

#th-scale {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 28%;
}

#th-scale div {
  height: 5px;
  width: 25px;
  background: black;
  margin-top: 60px;
}

/* Mobile View */
@media only screen and (max-width: 375px) {
  .main__container {
    padding: 1% 15% 2% 15%;
  }

  .header,
  .instruction {
    margin-bottom: 12%;
  }
  .game__container {
    display: flex;
    flex-direction: column-reverse;
  }

  #thermometer {
    margin-left: 30%;
  }

  .fields {
    margin-top: 20%;
    padding: 0px 5% 0px 0%;
  }

  .input {
    width: 120%;
    margin-left: -5%;
  }

  .btn {
    flex-wrap: wrap;
    width: 100%;
  }
  .submit,
  #newGame {
    margin-left: 10%;
  }
}
